<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <welcome-file-list>
        <welcome-file>home</welcome-file>
    </welcome-file-list>
    <servlet>
        <servlet-name>home</servlet-name>
        <servlet-class>controller.guestController.HomeController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CartController</servlet-name>
        <servlet-class>controller.customerController.CartController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ChangeProfile</servlet-name>
        <servlet-class>controller.customerController.ChangeProfile</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ProfileController</servlet-name>
        <servlet-class>controller.customerController.ProfileController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CartDeleteController</servlet-name>
        <servlet-class>controller.customerController.DeleteCartController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>BlogController</servlet-name>
        <servlet-class>MainController.BlogController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>BlogDetail</servlet-name>
        <servlet-class>MainController.BlogDetail</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>BlogSettings</servlet-name>
        <servlet-class>MainController.BlogSettings</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ActiveUsersServlet</servlet-name>
        <servlet-class>controller.guestController.ActiveUsersServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RegisterServlet</servlet-name>
        <servlet-class>controller.guestController.RegisterServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ProductSetting</servlet-name>
        <servlet-class>MainController.ProductSettings</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Logout</servlet-name>
        <servlet-class>controller.guestController.Logout</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ForgotPass</servlet-name>
        <servlet-class>controller.customerController.ForgotPass</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ResetPass</servlet-name>
        <servlet-class>controller.customerController.ResetPass</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>cartContact</servlet-name>
        <servlet-class>controller.customerController.CartContactController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CartCompletion</servlet-name>
        <servlet-class>controller.customerController.CartCompletionController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>MyOrder</servlet-name>
        <servlet-class>controller.customerController.OrderController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>orderDetail</servlet-name>
        <servlet-class>controller.customerController.orderDetail</servlet-class>
    </servlet>  
    <servlet>
        <servlet-name>ComboController</servlet-name>
        <servlet-class>controller.guestController.ComboController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>home</servlet-name>
        <url-pattern>/home</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CartController</servlet-name>
        <url-pattern>/home/cart</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ChangeProfile</servlet-name>
        <url-pattern>/changeProfile</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ProfileController</servlet-name>
        <url-pattern>/profile</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>Login</servlet-name>
        <servlet-class>controller.guestController.Login</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Login</servlet-name>
        <url-pattern>/login</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>Verification</servlet-name>
        <servlet-class>controller.guestController.Verification</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Verification</servlet-name>
        <url-pattern>/verification</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CartDeleteController</servlet-name>
        <url-pattern>/delete</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>BlogController</servlet-name>
        <url-pattern>/BlogController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>BlogDetail</servlet-name>
        <url-pattern>/BlogDetail</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>BlogSettings</servlet-name>
        <url-pattern>/BlogSettings</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ActiveUsersServlet</servlet-name>
        <url-pattern>/active</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RegisterServlet</servlet-name>
        <url-pattern>/register</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ProductSetting</servlet-name>
        <url-pattern>/productSettings</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Logout</servlet-name>
        <url-pattern>/logout</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ForgotPass</servlet-name>
        <url-pattern>/forgotpass</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ResetPass</servlet-name>
        <url-pattern>/repass</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>cartContact</servlet-name>
        <url-pattern>/home/cart/cartContact</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CartCompletion</servlet-name>
        <url-pattern>/cartCompletion</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>MyOrder</servlet-name>
        <url-pattern>/myOrder</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>orderDetail</servlet-name>
        <url-pattern>/myOrder/orderDetail</url-pattern>
    </servlet-mapping>
    <servlet-mapping>  
        <servlet-name>ComboController</servlet-name>
        <url-pattern>/combo</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
